
<div class="dashboard-container">
<div class="outlet-container h-screen">
  <div class="mb-[20px] ">
    <div>
      <h1 class="heading-font heading-font-size mb-[10px]">Add Table</h1>
    </div>
  </div>

  <form action="" #addEmployeeForm="ngForm" class="bg-white form-padding">
    <!--Name And Image-->

    <div class="form-col-2">
        <div class="flex flex-col justify-between col-margin">
          <div class="field-margin ">
            <p-floatlabel variant="on">
              <input
                pInputText
                [(ngModel)]="createTable.tableNumber"
                name="tableNumber"
                id="on_label"
                autocomplete="off"
                class="w-full h-[56px]  "
              />
              <label for="on_label">Table Number</label>
            </p-floatlabel>
          </div>

          <div class="field-margin">
            <p-iftalabel class="">
              <p-select
                [(ngModel)]="selectedSeats"
                name="selectedGender"
                inputId="dd-city"
                [options]="seats"
                optionLabel="name"
                styleClass="w-full"
              />
              <label for="dd-city">Select Seats</label>
            </p-iftalabel>
          </div>

          <div class="field-margin">
            <p-button label="SUBMIT" (onClick)="onAddTable()" class="submitbtn" />
          </div>
        </div>
      <div class="field-margin">
        <app-imagepreview></app-imagepreview>
      </div>
    </div>
  </form>

  @if (isLoading){
  <div class="fixed inset-0 flex items-center justify-center">
    <app-spinner></app-spinner>
  </div>
  }
</div>
</div>
