
.text-red{
  color: #cc080b;
}

::ng-deep td{
  padding: 8px 15px !important;
  margin: 0px !important;
}
.outlet-container {
  padding: 10px;
}

.dashboard-container {
  background: linear-gradient(
      0deg,
      rgba(240, 240, 240, 0.5),
      rgb(240, 240, 240)
    ),
    url(/background.png);
  background-color: #f0f0f0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100lvh;
  /* height: max-content; */
}


@media (min-width: 992px) {
  /* laptop styles here */
  .outlet-container {
    padding: 40px 60px;
  }
}
