::ng-deep .p-button{
  width: 200px;
  border: 2px solid #cc080b !important;
  background-color: white;
}

::ng-deep .p-button:hover{
 background-color:#cc080b !important;
 color: white !important;
}


.text-red{
  color: #cc080b;
}

::ng-deep td{
  padding: 8px 15px !important;
  margin: 0px !important;
}
