
::ng-deep .assignbtn{
    background-color: white;
    border: none !important;
    color:red !important;
    transition: none;
}
::ng-deep .assignbtn:hover{
    background-color: white !important;
    border: none;
}

::ng-deep .closebtn{
    background-color: white;
    border: none !important;
    color: red !important;;
    transition: none;
}
::ng-deep .closebtn:hover{
    background-color: white !important;
    border: none;
}
::ng-deep .custom-multiselect-panel {
  width: 250px !important;
}