<div class="card flex">
  <i
    class="pi pi-plus-circle addicon mx-[10px] cursor-pointer"
    style="font-size: 20px"
    (click)="showDialog()"
  ></i>
  <div class="flex justify-center items-center">
    <p-dialog
      header="Assign Employee to a table"
      [modal]="true"
      [(visible)]="visible"
      [style]="{ width: '35rem' }"
      position="center"
      [appendTo]="'body'"
    >
      <div class="flex">
        <img
          [src]="
            'https://restaurantapi.bssoln.com/images/table/' + tableImage()
          "
          alt=""
          class="w-50 h-36 mx-8"
        />
        <div>
          <h1>Table ID: {{ tableNumber() }}</h1>
          <h1>Number of Seats: {{ seatNumber() }}</h1>
          <div>
            <div class="card flex justify-center mt-2">
              <p-floatlabel class="w-full" variant="on">
                <p-multiselect
                  id="on_label"
                  [options]="employees"
                  [(ngModel)]="selectedEmployee"
                  name="selectedEmployee"
                  optionLabel="name"
                  [appendTo]="'body'"
                  [maxSelectedLabels]="10"
                  [displaySelectedLabel]="true"
                  [filter]="false"
                  [showHeader]="false"
                  panelStyleClass="custom-multiselect-panel"
                  [style]="{ width: '250px' }"
                  styleClass="custom-multiselect"
                >
                  <ng-template pTemplate="selectedItems" let-selectedItems>
                    <div class="selected-chips text-sm">
                      <span
                        *ngFor="let item of selectedItems"
                        class="p-multiselect-token"
                      >
                        {{ item.name }},
                      </span>
                    </div>
                  </ng-template>
                </p-multiselect>
                <label for="on_label">Select Employee</label>
              </p-floatlabel>
            </div>
          </div>
        </div>
      </div>

      <div class="flex justify-end gap-2">
        <p-button
          label="ASSIGN"
          severity="secondary"
          (click)="visible = false"
          styleClass="assignbtn"
          (onClick)="onAddEmployee()"
        />
        <p-button
          label="CLOSE"
          (click)="visible = false"
          styleClass="closebtn"
          (onClick)="onCloseModal()"
        />
      </div>
    </p-dialog>
  </div>
</div>
