@if(!isLoading){
<!-- Rotating Image  -->
<div class="w-screen h-screen flex bgimage">
  <div class="showrotate-image h-screen self-center">
    <div class="shapeimage">
      <img class="rotateimage" src="/spin-image.png" alt="" />
    </div>
  </div>

  <!-- Login Section -->
  <div class="h-screen form-size flexing ">
    <!-- Login Form  -->
    <div class="login-form">
      <!-- Logo Name  -->
      <div class="flex flex-col mx-auto">
        <div class="w-[110px] h-[110px] mx-auto">
          <img src="/logo.png" alt="" />
        </div>
        <div class="text-center">
          <h1 class="res-name res-name-size">BSS RESTAURANT</h1>
        </div>
      </div>

      <!-- Form  -->
      <form action="" class="" #loginform="ngForm">
        <div class="card flex justify-center flex-col">
          <div class="flex flex-col gap-2 my-[20px] ">
            <label
              for="username"
              class="label text-[18px] mb-[8px] text-black font-semibold"
              >Username:</label
            >
            <input
              class="bg-white-300"
              pInputText
              id="username"
              aria-describedby="username-help"
              [(ngModel)]="loginObj.userName"
              required
              email
              name="userName"
              pSize="large"
            />
          </div>
          <div class="card flex justify-center flex-col  mb-[20px]">
            <label for="Password"  class="mb-[8px] text-[18px] font-semibold text-black">Password:</label>
            <p-password
              [(ngModel)]="loginObj.password"
              name="password"
              [feedback]="false"
              inputId="Password"

            />
          </div>
        </div>
      </form>
      <p-button
        label="Login"
        [raised]="true"
        routerLink="/admin"
        routerLinkActive="router-link-active"
        (click)="onLogin()"
        class="loginBtn"
      />
      <div class="text-center ">
        <a class="link text-red link-hover">Back to Home</a>
      </div>
    </div>
  </div>
</div>
} @if (isLoading){
<div class="flex h-screen justify-center items-center">
  <app-spinner></app-spinner>
</div>
}
