.bgimage {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.6),
      rgb(255, 255, 255)
    ),
    url(/background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.shapeimage {
  background: url(/shape1.png) center center / 1000px no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 8px 8px 10px);
}
.rotateimage {
  width: 480px;
  height: 480px;
  padding: 0px;
  margin: 0px;
  animation: rotate 15s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
::ng-deep .loginBtn .p-button {
  background-color: #cc080b !important;
  font-size: 18px;
  border: none;
  width: 100%;
  height: 55px;
  margin-bottom: 20px;
}
::ng-deep .loginBtn .p-button:hover {
  background-color: #8f0709 !important;
  border: none !important;
  width: 100% !important;
  height: 55px;
}
::ng-deep p-password .p-inputtext {
  width: 100% !important;
  height: 50px !important;
  background-color: white;
}

.form-size {
  width: 100%;
}
.login-form {
  width: 90%;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
}

/* Media Queries  */
@media (min-width: 200px) and (max-width: 575.98px) {
  /* mobile-max styles here */
  .res-name-size {
    font-size: 24px;
  }

  .showrotate-image {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  /* tablet-max styles here */

  .showrotate-image {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  /* laptop-max styles here */

  .showrotate-image {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  /* desktop-max styles here */
  .form-size {
    width: 50%;
  }

  .showrotate-image {
    width: 50%;
    display: block;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  /* large-screen-max styles here */
  .form-size {
    width: 50%;
  }

  .showrotate-image {
    width: 50%;
    display: block;
  }
   .login-form {
    width: 540px;
    padding: 30px 45px;
    background-color: #f1f1f1;
    border-radius: 10px;
  }
}

@media (min-width: 1400px) {
  /* large-screen styles here */
  .form-size {
    width: 50%;
  }
  .showrotate-image {
    width: 50%;
    display: inline;
  }
  .login-form {
    width: 540px;
    padding: 30px 45px;
    background-color: #f1f1f1;
    border-radius: 10px;
  }
}
