::ng-deep .submitFood .p-button{
    width: 100%;
    background-color:#cc080b;
    border:none
}
::ng-deep .submitFood .p-button{
    width: 100%;
    background-color:#cc080b !important;
    border: none !important;
}