<div class="border-b-1 border-red-700 mb-7 text-4xl font-bold">
  <h1 class="heading-font">Add Food</h1>
</div>

<form action="" #addEmployeeForm="ngForm" class="bg-white p-[40px]">
  <!--Name And Image-->

  <div class="flex flex-col-reverse lg:grid lg:grid-cols-12">
    <div class="col-span-8">
      <div class="flex flex-col">
        <div class="p-[12px]">
          <p-floatlabel variant="on">
            <input
              pInputText
              name="name"
              [(ngModel)]="addFood.name"
              id="on_label"
              autocomplete="off"
              class="w-full h-[56px] py-[16px] px-[15px]"
            />
            <label for="on_label">Food Name</label>
          </p-floatlabel>
        </div>

        <div class="p-[12px]">
          <p-floatlabel variant="on">
            <textarea
              pTextarea
              id="over_label"
              [(ngModel)]="addFood.description"
              name="description"
              rows="5"
              cols="30"
              style="resize: none"
              class="w-full h-[56px] py-[16px] px-[15px] h-full"
            ></textarea>
            <label for="on_label">Description</label>
          </p-floatlabel>
        </div>
      </div>
    </div>
    <div class="col-span-4 p-[12px]">
      <app-imagepreview></app-imagepreview>
    </div>
  </div>

  <div class="flex flex-col-reverse lg:grid lg:grid-cols-12">
    <div class="col-span-3 p-[12px]">
      <p-floatlabel variant="on">
        <input
          pInputText
          id="on_label"
          [(ngModel)]="addFood.price"
          name="price"
          autocomplete="off"
          class="w-full h-[56px] py-[16px] px-[15px]"
          (input)="getUserPrice(addFood.price)"
        />
        <label for="on_label">Price</label>
      </p-floatlabel>
    </div>

    <div class="col-span-3 p-[12px]">
      <p-iftalabel class="">
        <p-select
          [(ngModel)]="selectedDiscount"
          name="selectedDiscount"
          inputId="dd-city"
          [options]="discounts"
          optionLabel="name"
          styleClass="w-full"
          (onClick)="getSelectedDiscount(selectedDiscount)"
        />
        <label for="dd-city">Select Discount Type</label>
      </p-iftalabel>
    </div>

    <div class="col-span-3 p-[12px]">
      <p-floatlabel variant="on">
        <input
          pInputText
          id="on_label"
          [(ngModel)]="discountInput"
          name="discount"
          autocomplete="off"
          class="w-full h-[56px] py-[16px] px-[15px]"
          [disabled]="disabledField"
          (input)="getDiscount(discountInput)"
        />
        <label for="on_label">{{discountTypeLabel}}</label>
      </p-floatlabel>
    </div>

    <div class="col-span-3 p-[12px]">
      <p-floatlabel variant="on">
        <input
          pInputText
          id="on_label"
          [(ngModel)]="showDiscountedPrice"
          name="discountPrice"
          autocomplete="off"
          class="w-full h-[56px] py-[16px] px-[15px]"
          [disabled]="disabledField"
        />
        <label for="on_label">Discounted Price </label>
      </p-floatlabel>
    </div>
  </div>

  <div class="p-[12px] w-full">
    <p-button label="SUBMIT" class="submitFood" (onClick)="onAddFood()" />
  </div>
</form>

<!-- @if (isLoading){
<div class="flex justify-center items-center ">
  <app-spinner></app-spinner>
</div>
} -->
