
<div class="dashboard-container">
<div class="outlet-container">
  <div class="mb-[20px] h-full">
    <div>
      <h1 class="heading-font heading-font-size mb-[10px]">Add Food</h1>
    </div>
  </div>

  <form action="" #addEmployeeForm="ngForm" class="bg-white form-padding form-shadow ">
    <!--Name And Image-->

    <div class="form-col-2">
      <div class="flex flex-col justify-between col-margin">
        <div class="field-margin">
          <p-floatlabel variant="on">
            <input
              pInputText
              name="name"
              [(ngModel)]="addFood.name"
              id="on_label"
              autocomplete="off"
              class="w-full h-[56px]"
            />
            <label for="on_label">Food Name</label>
          </p-floatlabel>
        </div>

        <div>
          <div class="field-margin" >
            <p-floatlabel variant="on">
              <textarea
                pTextarea
                id="over_label"
                [(ngModel)]="addFood.description"
                name="description"
                rows="5"
                style="resize: none"
                class="w-full h-full "
              ></textarea>
              <label for="on_label">Description</label>
            </p-floatlabel>
          </div>
        </div>
      </div>

      <div>
        <app-imagepreview></app-imagepreview>
      </div>
    </div>

    <div class="form-col-4 my-[30px]">
      <div >
        <p-floatlabel variant="on">
          <input
            pInputText
            id="on_label"
            [(ngModel)]="addFood.price"
            name="price"
            autocomplete="off"
            class="w-full h-[58px] "
            (input)="getUserPrice(addFood.price)"
          />
          <label for="on_label">Price</label>
        </p-floatlabel>
      </div>

      <div>
        <p-iftalabel class="">
          <p-select
            [(ngModel)]="selectedDiscount"
            name="selectedDiscount"
            inputId="dd-city"
            [options]="discounts"
            optionLabel="name"
            styleClass="w-full"
            (onClick)="getSelectedDiscount(selectedDiscount)"
          />
          <label for="dd-city">Select Discount Type</label>
        </p-iftalabel>
      </div>

      <div >
        <p-floatlabel variant="on">
          <input
            pInputText
            id="on_label"
            [(ngModel)]="discountInput"
            name="discount"
            autocomplete="off"
            class="w-full h-[58px] "
            [disabled]="disabledField"
            (input)="getDiscount(discountInput)"
          />
          <label for="on_label">{{ discountTypeLabel }}</label>
        </p-floatlabel>
      </div>

      <div >
        <p-floatlabel variant="on">
          <input
            pInputText
            id="on_label"
            [(ngModel)]="showDiscountedPrice"
            name="discountPrice"
            autocomplete="off"
            class="w-full h-[58px]"
            [disabled]="disabledField"
          />
          <label for="on_label">Discounted Price </label>
        </p-floatlabel>
      </div>
    </div>

    <div class=" w-full">
      <p-button label="SUBMIT" class="submitFood" (onClick)="onAddFood()" />
    </div>
  </form>

  <!-- @if (isLoading){
  <div class="fixed inset-0 flex items-center justify-center ">
    <app-spinner></app-spinner>
  </div>
} -->
</div>
</div>