.tableSelect {
  background-color: white;
  border: 2px solid lightgray;
  border-radius: 10px;
}
.tableSelect:hover {
  background-color: #cc080b;
  border: 2px solid #cc080b;
  color: white;
}
::ng-deep .tablescroller .p-virtualscroller {
  padding: 20px !important;
}

.foodimage {
  width: 190px;
  height: 190px;
  display: block;
  filter: drop-shadow(0px 10px 10px #bcbcbc);
  transform: rotate(0);
}
::ng-deep .p-card {
  background-color: white !important;
  border: 2px solid lightgray !important;
  margin: 10px;
}
::ng-deep .p-card:hover {
  border: 2px solid #cc080b !important;
}
::ng-deep .addtocartbtn .p-button {
  background-color: #cc080b;
  border: #cc080b;
  border-radius: 0px;
}
::ng-deep .addtocartbtn .p-button:hover {
  background-color: #8f0709;
  border: #8f0709;
}

.textPrice {
  font-weight: 500;
  line-height: 2rem;
  font-size: 1.25rem !important;
  letter-spacing: 0.0125em !important;
  font-family: Roboto, sans-serif !important;
  text-transform: none !important;
}

.tableMessageBorder {
  border: 2px dotted #8f0709;
  background-color: transparent;
  color: black;
}
::ng-deep .tableheight .p-virtualscroller {
  height: calc(100vh - 305px);
  padding: 0px;
}


.outlet-container {
  padding: 10px;
}

.dashboard-container {
  background: linear-gradient(
      0deg,
      rgba(240, 240, 240, 0.5),
      rgb(240, 240, 240)
    ),
    url(/background.png);
  background-color: #f0f0f0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100lvh;
  /* height: max-content; */
}


/* -------- min-width breakpoints -------- */
@media (min-width: 576px) {
  /* mobile styles here */
}

@media (min-width: 768px) {
  /* tablet styles here */
}

@media (min-width: 992px) {
  /* laptop styles here */
  .ordertitle-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .order-title {
    width: 170px;
  }
    .outlet-container {
    padding: 40px 60px;
  }

  .searchField {
    width: 300px;
  }
}

@media (min-width: 1200px) {
  /* desktop styles here */
}

@media (min-width: 1400px) {
  /* large-screen styles here */
}

/* -------- max-width breakpoints -------- */
@media (max-width: 575.98px) {
  /* mobile-max styles here */
}

@media (max-width: 767.98px) {
  /* tablet-max styles here */
}

@media (max-width: 991.98px) {
  /* laptop-max styles here */
  .ordertitle-search {
    display: flex;
    flex-direction: column;
  }
  .order-title {
    width: 130px;
  }
  .searchField {
    width: 100%;
  }
}

@media (max-width: 1199.98px) {
  /* desktop-max styles here */
}

@media (max-width: 1399.98px) {
  /* large-screen-max styles here */
}
