.tableSelect:hover {
  background-color: #cc080b;
  border: 2px solid #cc080b;
  color: white;
  box-shadow: #0000003d 0 3px 8px;
}
::ng-deep .tablescroller .p-virtualscroller {
  padding: 20px !important;
}

.foodimage {
  width: 190px;
  height: 190px;
  display: block;
  filter: drop-shadow(0px 10px 10px #bcbcbc);
  transform: rotate(0);
}
::ng-deep .p-card {
  background-color: white !important;
  border: 2px solid lightgray !important;
  margin: 10px;
}
::ng-deep .p-card:hover {
  border: 2px solid #cc080b !important;
}
::ng-deep .addtocartbtn .p-button {
  display: inline-block;
  color: #fff;
  background-color: #cc080b;
  padding: 10px 40px;
  border: #cc080b;
  border-radius: 0px;
}
::ng-deep .addtocartbtn .p-button:hover {
  background-color: #8f0709 !important;
  border: #8f0709 !important;
}

.textPrice {
  font-weight: 500;
  line-height: 2rem;
  font-size: 1.25rem !important;
  letter-spacing: 0.0125em !important;
  font-family: Roboto, sans-serif !important;
  text-transform: none !important;
}

.tableMessageBorder {
  border: 2px dotted #8f0709;
  background-color: transparent;
  color: black;
}
::ng-deep .tableheight .p-virtualscroller {
  height: calc(100vh - 305px);
  padding: 0px;
}

.outlet-container {
  padding: 10px;
}

.dashboard-container {
  background: linear-gradient(
      0deg,
      rgba(240, 240, 240, 0.5),
      rgb(240, 240, 240)
    ),
    url(/background.png);
  background-color: #f0f0f0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 5px;
  /* height: max-content; */
}
::-webkit-scrollbar {
  width: 5px;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background-color: white;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.selectFoodContainer {
  height: calc(100vh - 305px);
  padding-bottom: 0;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}
.form-col-2 {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

@media (min-width: 992px) {
  /* laptop styles here */
  .ordertitle-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .order-title {
    width: 170px;
  }
  .outlet-container {
    padding: 40px 60px;
  }

  .searchField {
    width: 300px;
  }
  .tableSelect {
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 10px;
  }
  .selectTableContainer {
    height: calc(100vh - 305px);
    padding-bottom: 0;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .showrow {
    display: flex;
    flex-direction: row;
  }
  .showrows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .showrowcenter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  /* desktop styles here */
  .form-col-2 {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}

@media (max-width: 991.98px) {
  /* laptop-max styles here */
  .ordertitle-search {
    display: flex;
    flex-direction: column;
  }
  .order-title {
    width: 130px;
  }
  .searchField {
    width: 100%;
  }
  .tableSelect {
    flex-shrink: 0;
    width: 160px;
    height: 300px;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 10px;
  }
  .selectTableContainer {
    height: auto; /* or a fixed height like 200px */
    width: 100%;
    display: flex;
    flex-direction: row; /* Horizontal layout */
    overflow-x: auto; /* Enable horizontal scroll */
    overflow-y: hidden; /* Disable vertical scroll */
    white-space: nowrap; /* Prevent items from wrapping */
    scroll-behavior: smooth; /* Optional: smooth scroll effect */
    gap: 10px;
  }
  .selectTableContainer::-webkit-scrollbar {
    height: 6px;
  }

  .selectTableContainer::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
  }

  .showcol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .showcols {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 1199.98px) {
  /* desktop-max styles here */
  .form-col-2 {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1399.98px) {
  /* large-screen-max styles here */
}
