::ng-deep .p-datepicker {
  width: 100%;
}

::ng-deep .employeebtn .p-button {
  width: 100%;
  background-color: #cc080b;
  border: none !important;
  transition: none;
}
::ng-deep .employeebtn .p-button:hover {
  width: 100%;
  background-color: #cc080b;
}

.form-col-2 {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.form-col-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.form-col-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.form-padding {
  padding: 0px;
}
/* -------- min-width breakpoints -------- */
@media (min-width: 576px) {
  /* mobile styles here */
}

@media (min-width: 768px) {
  /* tablet styles here */
}

@media (min-width: 992px) {
  /* laptop styles here */
  .form-padding {
    padding: 30px;
  }
}

@media (min-width: 1200px) {
  /* desktop styles here */
}

@media (min-width: 1400px) {
  /* large-screen styles here */
}

/* -------- max-width breakpoints -------- */
@media (max-width: 575.98px) {
  /* mobile-max styles here */
}

@media (max-width: 767.98px) {
  /* tablet-max styles here */
}

@media (max-width: 991.98px) {
  /* laptop-max styles here */
}

@media (max-width: 1199.98px) {
  /* desktop-max styles here */
  .form-col-2 {
    display: flex;
    flex-direction: column-reverse;
  }
  .form-col-3 {
    display: flex;
    flex-direction: column;
  }
  .form-col-4 {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1399.98px) {
  /* large-screen-max styles here */
}
