::ng-deep .p-datepicker{
    width: 100%;
}

::ng-deep .employeebtn .p-button{
    width: 100%;
    background-color:#cc080b;
    border:none !important;
    transition: none;
}
::ng-deep .employeebtn .p-button:hover{
    width: 100%;
    background-color:#cc080b;

}