<div>
  <div class="mb-[20px] h-full">
    <div>
      <h1 class="heading-font heading-font-size mb-[10px]">Add Employee</h1>
    </div>
  </div>

  @if(!isLoading){
  <form action="" #addEmployeeForm="ngForm" class="bg-white form-padding ">
    <!--Name And Image-->
    <div class="form-col-2 ">
      <div class="">
        <div class="flex flex-col p-[12px]">
          <div class="mb-[18px]">
            <p-floatlabel variant="on">
              <input
                pInputText
                [(ngModel)]="addEmployee.firstName"
                name="firstName"
                id="on_label"
                autocomplete="off"
                class="w-full h-[56px] py-[16px] px-[15px]"
                required
                #firstname="ngModel"
              />
              <div>
                @if(firstname.errors?.['required'] && firstname.touched){
                <span class="text-red-700">* required</span>
                }
              </div>
              <label for="on_label">First Name</label>
            </p-floatlabel>
          </div>
          <div class="my-[18px]">
            <p-floatlabel variant="on">
              <input
                pInputText
                [(ngModel)]="addEmployee.middleName"
                name="middleName"
                id="on_label"
                autocomplete="off"
                class="w-full h-[56px] py-[16px] px-[15px]"
              />

              <label for="on_label">Middle Name</label>
            </p-floatlabel>
          </div>
          <div class="my-[16px]">
            <p-floatlabel variant="on">
              <input
                pInputText
                [(ngModel)]="addEmployee.lastName"
                name="lastName"
                id="on_label"
                autocomplete="off"
                class="w-full h-[56px] py-[16px] px-[15px]"
                required
                #lastname="ngModel"
              />
              <div>
                @if(lastname.errors?.['required'] && lastname.touched){
                <span class="text-red-700">* required</span>
                }
              </div>
              <label for="on_label">Last Name</label>
            </p-floatlabel>
          </div>
        </div>
      </div>

      <div class=" p-[12px]">
        <app-imagepreview></app-imagepreview>
      </div>
    </div>

    <!--SPOUSE AND PARENTS Name-->
    <div class="form-col-3">
      <div class="p-[12px]">
        <p-floatlabel variant="on">
          <input
            pInputText
            [(ngModel)]="addEmployee.spouseName"
            name="spouseName"
            id="on_label"
            autocomplete="off"
            class="w-full h-[56px] py-[17px] px-[15px]"
          />
          <label for="on_label">Spouse Name</label>
        </p-floatlabel>
      </div>
      <div class="p-[12px]">
        <p-floatlabel variant="on">
          <input
            pInputText
            [(ngModel)]="addEmployee.fatherName"
            name="fatherName"
            id="on_label"
            autocomplete="off"
            class="w-full h-[56px] py-[16px] px-[15px]"
            required
            #fathername="ngModel"
          />
          <div>
            @if(fathername.errors?.['required'] && fathername.touched){
            <span class="text-red-700">* required</span>
            }
          </div>
          <label for="on_label">Father Name</label>
        </p-floatlabel>
      </div>
      <div class="p-[12px]">
        <p-floatlabel variant="on">
          <input
            pInputText
            [(ngModel)]="addEmployee.motherName"
            name="motherName"
            id="on_label"
            autocomplete="off"
            class="w-full h-[56px] py-[16px] px-[15px]"
            required
            #mothername="ngModel"
          />
          <div>
            @if(mothername.errors?.['required'] && mothername.touched){
            <span class="text-red-700">* required</span>
            }
          </div>
          <label for="on_label">Mother Name</label>
        </p-floatlabel>
      </div>
    </div>

    <div class="form-col-3">
      <div class="p-[12px]">
        <p-floatlabel variant="on">
          <input
            pInputText
            [(ngModel)]="addEmployee.designation"
            name="designation"
            id="on_label"
            autocomplete="off"
            class="w-full h-[56px] py-[16px] px-[15px]"
            required
            #designation="ngModel"
          />
          <div>
            @if(designation.errors?.['required'] && designation.touched){
            <span class="text-red-700">* required</span>
            }
          </div>
          <label for="on_label">Designation</label>
        </p-floatlabel>
      </div>
      <div class="p-[12px]">
        <p-floatlabel variant="on">
          <input
            pInputText
            [(ngModel)]="addEmployee.email"
            name="email"
            id="on_label"
            autocomplete="off"
            class="w-full h-[56px] py-[16px] px-[15px]"
            required
            email
            #email="ngModel"
            type="email"
          />
          <div>
            @if(email.errors?.['required'] && email.touched){
            <span class="text-red-700">* required</span>
            } @if(email.errors?.['email']){
            <span class="text-red-700">enter valid email address</span>
            }
          </div>
          <label for="on_label">Email</label>
        </p-floatlabel>
      </div>
      <div class="p-[12px]">
        <p-floatlabel variant="on">
          <input
            pInputText
            [(ngModel)]="addEmployee.phoneNumber"
            name="phoneNumber"
            id="on_label"
            autocomplete="off"
            class="w-full h-[56px] py-[16px] px-[15px]"
            required
            minlength="11"
            maxlength="11"
            #phonenum="ngModel"
            (input)="setPhoneNum(addEmployee.phoneNumber)"
          />
          <div>
            @if(phonenum.errors?.['required'] && phonenum.touched){
            <span class="text-red-700">* required</span>
            } @if (phonenum.errors?.['minlength'] ||
            phonenum.errors?.['maxlength'] ) {
            <span class="text-red-700">* number must be 11 digits</span>
            } @if(phoneExist === true){
            <span class="text-red-700">Phone Number Exists</span>
            }
          </div>
          <label for="on_label">Phone Number</label>
        </p-floatlabel>
      </div>
    </div>

    <div class="form-col-4">
      <div class="p-[12px] w-full">
        <p-iftalabel class="">
          <p-select
            [(ngModel)]="selectedGender"
            name="selectedGender"
            inputId="dd-city"
            [options]="genders"
            optionLabel="name"
            styleClass="w-full"
            required
            #selectedGen="ngModel"
          />
          <div>
            @if(selectedGen.errors?.['required'] && selectedGen.touched){
            <span class="text-red-700">* required</span>
            }
          </div>
          <label for="dd-city">Gender</label>
        </p-iftalabel>
      </div>

      <div class="p-[12px] w-full">
        <p-iftalabel>
          <p-datepicker
            inputId="birthdate"
            showIcon
            iconDisplay="input"
            [(ngModel)]="addEmployee.dob"
            name="dob"
            required
            #dob="ngModel"
          />
          <div>
            @if(dob.errors?.['required'] && dob.touched){
            <span class="text-red-700">* required</span>
            }
          </div>
          <label for="birthdate">Birth Date</label>
        </p-iftalabel>
      </div>

      <div class="p-[12px] w-full">
        <p-iftalabel>
          <p-datepicker
            inputId="date"
            showIcon
            iconDisplay="input"
            [(ngModel)]="addEmployee.joinDate"
            name="joinDate"
            required
            #joindate="ngModel"
          />
          <div>
            @if(joindate.errors?.['required'] && joindate.touched){
            <span class="text-red-700">* required</span>
            }
          </div>
          <label for="date">Join Date</label>
        </p-iftalabel>
      </div>
      <div class="p-[12px]">
        <p-floatlabel variant="on">
          <input
            pInputText
            [(ngModel)]="addEmployee.nid"
            name="nid"
            id="on_label"
            autocomplete="off"
            class="w-full h-[58px] py-[16px] px-[15px]"
            required
            #nid="ngModel"
          />
          <div>
            @if(nid.errors?.['required'] && nid.touched){
            <span class="text-red-700">* required</span>
            }
          </div>
          <label for="on_label">NID</label>
        </p-floatlabel>
      </div>
    </div>

    <div class="p-[12px]">
      <p-button
        label="Submit"
        [disabled]="addEmployeeForm.invalid"
        (onClick)="onAddEmployee()"
        class="employeebtn"
      />
    </div>
  </form>
  } @if (isLoading){
  <div class="fixed inset-0 flex items-center justify-center">
    <app-spinner></app-spinner>
  </div>
  }
</div>
