/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "primeicons/primeicons.css";

:root {
  --grey: #f1f1f1;
  --red: #cc080b;
}

.flexing {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-field {
  width: 100%;
  outline: none;
  font-size: 18px;
  padding: 10px 50px 10px 10px;
  border: 2px solid gray;
  border-radius: 5px;
  margin-bottom: 20px;
}
.text-red {
  color: var(--red);
}

html,
body {
  margin: 0;
  font-family: Josefin Sans, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
}

.red-icon {
  color: #cc080b !important;
  font-size: 24px !important;
  margin-right: 5px;
}

.red-bg {
  background-color: #cc080b;
}

.heading-font {
  font-family: Quattrocento, serif;

  font-weight: 700;
  color: primary;
  padding-bottom: 5px;
  border-bottom: 3px solid #cc080b;
}
.heading-font-size {
  font-size: 32px;
}
.res-name {
  margin-top: 10px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 2px;
  text-shadow: #cc080b 2px 0px 0px, #cc080b 1.75517px 0.958851px 0px,
    #cc080b 1.0806px 1.68294px 0px, #cc080b 0.141474px 1.99499px 0px,
    #cc080b -0.832294px 1.81859px 0px, #cc080b -1.60229px 1.19694px 0px,
    #cc080b -1.97998px 0.28224px 0px, #cc080b -1.87291px -0.701566px 0px,
    #cc080b -1.30729px -1.5136px 0px, #cc080b -0.421592px -1.95506px 0px,
    #cc080b 0.567324px -1.91785px 0px, #cc080b 1.41734px -1.41108px 0px,
    #cc080b 1.92034px -0.558831px 0px;
}
.res-name-size {
  font-size: 32px;
}
.p-password {
  width: 100% !important;
}
.addbtn .p-button {
  height: 36px !important;
  padding-top: 12px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  color: black !important;
  border: 2px solid #cc080b !important;
  background-color: white;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.addbtn .p-button:hover {
  background-color: #cc080b !important;
  color: white !important;
}
.form-shadow {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
}
/* -------- min-width breakpoints -------- */
@media (min-width: 576px) {
  /* mobile styles here */
}

@media (min-width: 768px) {
  /* tablet styles here */
    .ellipsis-width {
    max-width: 100%;
  } 
}

@media (min-width: 992px) {
  /* laptop styles here */

}

@media (min-width: 1200px) {
  /* desktop styles here */
}

@media (min-width: 1400px) {
  /* large-screen styles here */
}

/* -------- max-width breakpoints -------- */
@media (max-width: 575.98px) {
  /* mobile-max styles here */
}

@media (max-width: 767.98px) {
  /* tablet-max styles here */
  .ellipsis-width {
    max-width: 50px;
  }
}

@media (max-width: 991.98px) {
  /* laptop-max styles here */
  .heading-font-size {
    font-size: 22px;
  }
  .ellipsis-name-width{
    max-width: 80px;
  }
}

@media (max-width: 1199.98px) {
  /* desktop-max styles here */
}

@media (max-width: 1399.98px) {
  /* large-screen-max styles here */
}
